.flex-container{
display: flex;
justify-content: center;
}

body{
    background-image: url("https://source.unsplash.com/user/ramason/likes");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    color: rgb(102, 98, 92);
 
}
h1{
    color: antiquewhite;
}

.well-bk{
    background-color: rgba(252, 252, 252, .7)


}